.vs/
bin/
obj/
*.user
artifacts/
msbuild.binlog
.vscode/
*.binlog
*.nupkg
*.zip

*.idea
_ReSharper.Caches
.DS_Store

Oqtane.Server/appsettings.json
Oqtane.Server/Data

/Oqtane.Server/Properties/PublishProfiles/FolderProfile.pubxml
Oqtane.Server/Content
Oqtane.Server/Packages
Oqtane.Server/wwwroot/Content
Oqtane.Server/wwwroot/Packages/*.log

Oqtane.Server/wwwroot/Modules
!Oqtane.Server/wwwroot/Modules/Oqtane.Modules.*
!Oqtane.Server/wwwroot/Modules/Templates

Oqtane.Server/wwwroot/Themes
!Oqtane.Server/wwwroot/Themes/Oqtane.Themes.*
!Oqtane.Server/wwwroot/Themes/Templates

/Oqtane.Server/wwwroot/_content
/Oqtane.Server/wwwroot/Public
/Oqtane.Server/wwwroot/SalesSearch
/Oqtane.Server/wwwroot/Home

/Oqtane.Server/wwwroot/favicon-dev.ico
/Oqtane.Server/wwwroot/images/hubspoticon24x24.png
/Oqtane.Server/wwwroot/images/hubspoticon32x32.png
/Oqtane.Server/wwwroot/images/hubspoticon64x64.png
/Oqtane.Server/wwwroot/images/hubspoticonfullsize.png
/Oqtane.Server/wwwroot/js/ScrollToSelected.js
/Oqtane.Server/wwwroot/js/exporter.js
/Oqtane.Server/wwwroot/favicon.ico
